* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: ghostwhite;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  background-color: gray;
  border: 1px solid white;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 50px;
  padding: 20px;
}

.form input{
  padding: 3px;
}

.form fieldset {
  padding: 10px;
  margin-bottom: 30px;
}

.form legend {
  text-transform: uppercase;
}

.form label {
  display: block;
  font-size: 14px;
  margin-top: 20px;
}

.house {
  display: inline-block;
  margin-right: 10px;
}

.apartament {
  display: inline-block;
}

.textarea {
  margin-top: 10px;
  padding: 3px;
  width: 100%;
}

.div-btn {
  text-align: center;
}

.btn {
  background-color: green;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-weight: 900;
  font-size: 12px;
  margin-bottom: 40px;
  width: 100px;
  padding: 3px;
}

.btn:hover {
  background-color: white;
  border: 1px solid green;
  color: black;
  transition-duration: 0.2s;
}

.error-fullname {
  color: red;
  font-size: 11px;
  margin-left: 93px;
  padding: 3px;
  width: 30%;
}