#super-mario {
  width: 30%;;
}

.super-mario {
  margin: 20px 100px;
}

#goomba {
  width: 30%;
}

.goomba {
  margin: 0 100px;
}

.word {
  position: absolute;
  width: 150px;
  text-align: center;
  font-size: 14px;
  margin-left: 710px;
  margin-top: -400px;
}

#ballon {
  margin-left: 700px;
  margin-top: -440px
}

#bowser {
  margin-left: 890px;
  margin-top: -100px;
}

.bowser {
  margin-top: 50px;
}