body {
  font-size: 16px;
}

#title {
  font-family: sans-serif;
  font-size: 65px;
  color: orange;
}

#list-style {
  background-color: darkcyan;
  font-style: italic;
  line-height: 25px;
  text-align: center;
  text-decoration: underline;
}

.style {
  background-color: gray;
}

#paragraph {
  font-weight: 600;
  font-size: 3em;
}

#first-list-element {
  background-color: yellow;
}

#second-list-element {
  background-color: red;
}

#third-list-element {
  background-color: brown;
}