* {
  background-color: black;
  color: white;
}

.title {
  text-align: center;
  width: 100%;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemonCard {
  border: 2px solid gray;
  border-radius: 10px;
  text-align: center;
  display: flex;
  width: 200px;
  padding: 20px;
  margin: 10px;
}

.pokemonImage {
  margin-left: 30px;
}

@media only screen and (max-width: 600px) {
  .pokemonCard {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
